    body {
    	margin-bottom: 50px;
    }

    .slogan {
        color: #e9333f;
    }

    .page-header {
        margin-top: 0px;
    }
    
    .panel-body {
        padding-top: 0px;
    }
    
    .featureImg {
        margin-bottom: 15px;
    }
